:root {
	--link-text: hsl(11, 100%, 37%);
	--link-text-hover: hsl(11, 100%, 25%);
	--selection-bg: hsla(11, 100%, 45%, 12%);

	--list-active: hsla(11, 100%, 37%, 7%);
	--list-active-hover: hsla(11, 100%, 37%, 12%);

	--button-bg-hover: hsl(11, 50%, 96%);
	--button-border: hsl(11, 100%, 37%);
	--button-border-hover: hsl(11, 100%, 30%);
	--button-text: hsl(11, 100%, 37%);
	--button-text-hover: hsl(11, 100%, 30%);

	--button-default-bg: hsl(11, 100%, 37%);
	--button-default-bg-hover: hsl(11, 100%, 30%);
	--button-default-border: hsl(11, 100%, 37%);
	--button-default-border-hover: hsl(11, 100%, 30%);
}
