:root {
	--link-text: hsl(11, 70%, 70%);
	--link-text-hover: hsl(11, 50%, 60%);
	--selection-bg: hsla(11, 70%, 50%, 60%);

	--list-active: hsla(11, 100%, 60%, 15%);
	--list-active-hover: hsla(11, 100%, 60%, 20%);

	--button-bg-hover: hsl(11, 50%, 15%);
	--button-border: hsl(11, 70%, 70%);
	--button-border-hover:  hsl(11, 70%, 70%);
	--button-text: hsl(11, 70%, 70%);
	--button-text-hover:  hsl(11, 70%, 70%);

	--button-default-bg: hsl(11, 70%, 70%);
	--button-default-bg-hover: hsl(11, 50%, 65%);
	--button-default-border: hsl(11, 70%, 70%);
	--button-default-border-hover: hsl(11, 50%, 65%);
}
