:root {
	--link-text: hsl(120, 35%, 75%);
	--link-text-hover: hsl(120, 30%, 65%);
	--selection-bg: hsla(120, 40%, 50%, 60%);

	--list-active: hsla(120, 100%, 80%, 10%);
	--list-active-hover: hsla(120, 100%, 80%, 15%);

	--button-bg-hover: hsl(120, 30%, 15%);
	--button-border: hsl(120, 35%, 75%);
	--button-border-hover:  hsl(120, 35%, 75%);
	--button-text: hsl(120, 35%, 75%);
	--button-text-hover:  hsl(120, 35%, 75%);

	--button-default-bg: hsl(120, 35%, 75%);
	--button-default-bg-hover: hsl(120, 30%, 65%);
	--button-default-border: hsl(120, 35%, 75%);
	--button-default-border-hover: hsl(120, 30%, 65%);
}
