:root {
	--link-text: hsl(215, 60%, 75%);
	--link-text-hover: hsl(215, 50%, 65%);
	--selection-bg: hsla(215, 80%, 50%, 60%);

	--list-active: hsla(215, 100%, 60%, 18%);
	--list-active-hover: hsla(215, 100%, 60%, 25%);

	--button-bg-hover: hsl(215, 50%, 20%);
	--button-border: hsl(215, 60%, 75%);
	--button-border-hover:  hsl(215, 60%, 75%);
	--button-text: hsl(215, 60%, 75%);
	--button-text-hover:  hsl(215, 60%, 75%);

	--button-default-bg: hsl(215, 60%, 75%);
	--button-default-bg-hover: hsl(215, 50%, 65%);
	--button-default-border: hsl(215, 60%, 75%);
	--button-default-border-hover: hsl(215, 50%, 65%);
}
