:root {
	color-scheme: dark;

	--body-bg: #111;
	--body-text: #ccc;
	--body-icon: #ccc;
	--note-text: #666;
	--note-text: rgba(255, 255, 255, 40%);

	--logo-text: #888;
	--panel-bg: #222;
	--panel-border: #444;
	--header-text: #eee;
	--list-hover: hsla(215, 0%, 70%, 15%);

	--input-bg: #111;
	--input-text: #eee;
	--input-border: #666;
	--required-border: #d63;
	--select-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2VlZSI+PHBhdGggZD0iTTcuNDEsOC41OEwxMiwxMy4xN0wxNi41OSw4LjU4TDE4LDEwTDEyLDE2TDYsMTBMNy40MSw4LjU4WiIvPjwvc3ZnPg==");

	--button-bg: #111;
	--button-default-text: #111;
	--button-default-text-hover: #111;

	--table-bg: #111;
	--table-header-bg: #2a2a2a;
	--table-border: #444;
	--table-row-border: #333;

	--code-bg: hsl(215, 40%, 20%);
	--code-border: hsl(215, 40%, 35%);

	--message-ok-bg: hsl(120, 20%, 20%);
	--message-ok-border: hsl(120, 20%, 32%);
	--message-ok-text: hsl(120, 55%, 95%);

	--message-error-bg: hsl(0, 30%, 22%);
	--message-error-border: hsl(0, 30%, 34%);
	--message-error-text: hsl(0, 55%, 95%);

	--warning-text: hsl(24, 70%, 60%);
	--version-text: hsl(24, 70%, 60%);
}

@media screen and (max-resolution: 1dppx) {
	:root {
		--input-border-radius: 2px;
	}
}
